#jaxon-dbadmin .jaxon-dbadmin-content-layout {
  padding: 5px 0;
}
#jaxon-dbadmin .jaxon-dbadmin-content-layout .jaxon-dbadmin-content-layout_sidebar {
  width: 295px;
  float: left;   
  padding-right: 10px;
}
#jaxon-dbadmin .jaxon-dbadmin-content-layout .jaxon-dbadmin-content-layout_wrapper {
  margin-left: 295px;
  padding-left: 10px;
}

#jaxon-dbadmin .jaxon-dbadmin-tabs-layout {
  padding: 5px 0;
}
#jaxon-dbadmin .jaxon-dbadmin-tabs-layout .jaxon-dbadmin-tabs-layout_button {
  width: 95px;
  float: right;   
  padding-right: 10px;
}
#jaxon-dbadmin .jaxon-dbadmin-tabs-layout .jaxon-dbadmin-tabs-layout_header {
  margin-right: 95px;
  padding-left: 10px;
}
