#bootbox-container .modal-header {
    display: block !important;
}
#jaxon-dbadmin {
    margin: 20px 0 0 0;
}
#jaxon-dbadmin .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
#jaxon-dbadmin .btn-select {
    margin-top: 0;
    margin-bottom: 0;
}
#dbadmin-main-actions .btn-group {
    padding: 10px;
}
#dbadmin-database-list {
    margin: 10px 0;
}
#dbadmin-user-info, #dbadmin-server-info {
    margin-bottom: 10px;
}
#dbadmin-user-info .panel, #dbadmin-server-info .panel {
    margin-bottom: 0;
}
#dbadmin-database-actions, #dbadmin-server-actions {
    margin-bottom: 10px;
}
#jaxon-dbadmin .dbadmin-table-checkbox {
    width: 30px;
}
#jaxon-dbadmin .breadcrumb {
    float: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    margin-top: 11px;
}
/* Disable spinners on inputs with type number */
#jaxon-dbadmin input[type=number]::-webkit-inner-spin-button,
#jaxon-dbadmin input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#jaxon-dbadmin .dbadmin-edit-table-name {
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-engine {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-collation {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-header,
#jaxon-dbadmin .dbadmin-table-column-header {
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
#jaxon-dbadmin .dbadmin-table-column-left {
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-default,
#jaxon-dbadmin .dbadmin-table-column-middle,
#jaxon-dbadmin .dbadmin-table-column-right {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-null,
#jaxon-dbadmin .dbadmin-table-column-null-header {
    padding-left: 10px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-null input {
    margin-top: 10px;
}
#jaxon-dbadmin .dbadmin-table-column-buttons,
#jaxon-dbadmin .dbadmin-table-column-buttons-header {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .second-line {
    margin-top: 2px;
}
#jaxon-dbadmin .nested-row {
    padding: 0 !important;
    margin-bottom: 0 !important;
}
#jaxon-dbadmin .nested-col {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
}
#jaxon-dbadmin .dbadmin-table-edit-field {
    margin-left: -5px;
    margin-bottom: 5px;
    padding: 5px 15px 0 5px;
    border-radius: 8px;
}
#jaxon-dbadmin pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#jaxon-dbadmin ul.pagination {
    margin: 0;
}
#jaxon-dbadmin .dbadmin-main-action-group {
    padding: 10px;
}
#dbadmin-main-command-query { 
    height: 200px;
    min-height: 120px;
    resize: vertical;
}
#dbadmin-views-edit-view { 
    height: 300px;
    min-height: 120px;
    resize: vertical;
}
#dbadmin-table-select-query { 
    height: 20px;
    resize: none;
}
