#bootbox-container .modal-header {
    display: block !important;
}
#jaxon-dbadmin .btn-select {
    margin-top: 0;
    margin-bottom: 0;
}
#dbadmin-main-actions .btn-group {
    padding: 10px;
}
#dbadmin-database-list {
    margin: 10px 0;
}
#dbadmin-user-info, #dbadmin-server-info {
    margin-bottom: 10px;
}
#dbadmin-user-info .panel, #dbadmin-server-info .panel {
    margin-bottom: 0;
}
#dbadmin-database-actions, #dbadmin-server-actions {
    margin-bottom: 10px;
}
#jaxon-dbadmin .dbadmin-table-checkbox {
    width: 30px;
}
#jaxon-dbadmin .breadcrumb {
    float: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    margin-top: 11px;
}
/* Disable spinners on inputs with type number */
#jaxon-dbadmin input[type=number]::-webkit-inner-spin-button,
#jaxon-dbadmin input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#jaxon-dbadmin .dbadmin-table-edit-field {
    margin-bottom: 10px;
    padding: 5px 15px 5px 5px;
    border-radius: 5px;
}
#jaxon-dbadmin .dbadmin-table-edit-field > .row {
    margin-bottom: 0;
}
#jaxon-dbadmin .dbadmin-edit-table-name {
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-engine {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-collation {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-edit-table-header {
    margin-bottom: 10px;
}
#jaxon-dbadmin .dbadmin-table-column-header {
    margin-top: 15px;
    margin-bottom: 10px;
}
#jaxon-dbadmin .dbadmin-table-edit-row {
    margin-top: 2px;
    margin-bottom: 2px;
}
#jaxon-dbadmin .dbadmin-table-column-left {
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-middle {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-right {
    padding-left: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-null,
#jaxon-dbadmin .dbadmin-table-column-null-header {
    padding-left: 10px;
    padding-right: 1px;
}
#jaxon-dbadmin .dbadmin-table-column-null input {
    margin-top: 10px;
}
#jaxon-dbadmin .dbadmin-table-column-buttons,
#jaxon-dbadmin .dbadmin-table-column-buttons-header {
    padding-left: 1px;
    padding-right: 1px;
}
#jaxon-dbadmin .nested-row {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

#jaxon-dbadmin .dbadmin-table-edit-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px #dee2e6;
}
#jaxon-dbadmin .dbadmin-table-edit-header-title {
    flex: 1;
    font-weight: 600;
}
#jaxon-dbadmin .dbadmin-table-edit-header-buttons {
    width: 80px;
    padding-left: 5px;
}
#jaxon-dbadmin .dbadmin-table-edit-column {
    padding: 5px;
    border-radius: 5px;
}
#jaxon-dbadmin .dbadmin-table-columns-form-column {
    margin-bottom: 0 !important;
}

#jaxon-dbadmin pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#jaxon-dbadmin ul.pagination {
    margin: 0;
}
#jaxon-dbadmin .dbadmin-main-action-group {
    padding: 0 10px;
}
.jaxon-dbadmin-sql-query-wrapper {
    min-height: 180px !important;
}
#jaxon-dbadmin .dbadmin-main-command-query {
    height: 200px;
    min-height: 120px;
    resize: vertical;
}
#jaxon-dbadmin .dbadmin-views-edit-view {
    height: 300px;
    min-height: 120px;
    resize: vertical;
}
#jaxon-dbadmin .dbadmin-table-select-query {
    min-height: 20px;
    resize: vertical;
}

#jaxon-dbadmin .dbadmin-query-builder-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    justify-content: space-between;
}
#jaxon-dbadmin .dbadmin-query-builder-options .dbadmin-query-builder-fields {
    width: 50%;
}
#jaxon-dbadmin .dbadmin-query-builder-options .dbadmin-query-builder-values {
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: flex-start;
}
#jaxon-dbadmin .dbadmin-query-builder-text-wrapper {
    padding: 7px;
}
#jaxon-dbadmin .dbadmin-query-builder-actions {
    display: flex;
    flex-direction:row;
    gap: 7px;
    margin-top: 7px;
}
#jaxon-dbadmin .dbadmin-query-builder-actions .dbadmin-query-builder-pagination {
    flex-grow: 1;
}
#jaxon-dbadmin input.dbadmin-number-input {
    width: 70px;
}
#jaxon-dbadmin .dbadmin-query-builder-results {
    margin-top: 20px;
}
#jaxon-dbadmin .dbadmin-query-builder-results .table-header {
    color: #3B3B3B;
}
#jaxon-dbadmin .dbadmin-query-builder-results .table-header a {
    text-decoration: none;
    color: #3B3B3B;
    font-size: 12px;
}
#jaxon-dbadmin div.input-group-text, /* Bootstrap 5 specific */
#jaxon-dbadmin .white-background{
    background-color: white;
}

.jaxon-dbadmin-foreign-column-search-list {
    border: none;
    border-radius: 5px;
    position-area: y-end span-x-end;
}

/* Chrome, Safari, Edge, Opera */
input.dbadmin-no-arrows::-webkit-outer-spin-button,
input.dbadmin-no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.dbadmin-no-arrows[type=number] {
  -moz-appearance: textfield;
}
